@font-face {
  font-family: "Manrope";
  src: url("../fonts/ManropeExtraLight-Regular.woff2") format("woff2"),
    url("../fonts/ManropeExtraLight-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-SemiBold.woff2") format("woff2"),
    url("../fonts/Fraunces-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
