// CUSTOM PROPS

:root {
  // colors
  --dark-purple: #24053e;
  --eucaplyptus: #44ffa1;
  --davys-grey: #584d62;
  --ghost-white: #fcf8ff;
  --white: #ffffff;

  // fonts
  --heading-font-family: "Fraunces", "Times New Roman", serif;
  --body-font-family: "Manrope", "Arial", sans-serif;
}
