.header {
  &-intro-wrapper {
    background-color: var(--dark-purple);
    padding-top: 56px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: inline-block;
    padding: 3px 3px 6px 3px;

    &_img {
      display: block;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    color: #ffffff;
    border-bottom: 3px solid var(--eucaplyptus);
    line-height: 32px;
    transition: 0.4s all ease;

    &:hover {
      color: var(--eucaplyptus);
    }

    &:active {
      opacity: 0.6;
    }
  }
}
