.intro {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
  }

  &__title {
    font-family: var(--heading-font-family);
    max-width: 635px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
    color: #ffffff;

    &_line {
      border-bottom: 3px solid var(--eucaplyptus);
    }
  }

  &__btn {
    color: var(--dark-purple, #24053e);
    display: inline-block;
    margin-top: 37px;
    padding: 11px 32px 14px 33px;
    font-weight: 700;
    line-height: 32px;
    background-color: var(--eucaplyptus);
    border: 2px solid var(--eucaplyptus);
    transition: 0.4s all ease;

    &:hover {
      background-color: transparent;
      color: var(--eucaplyptus);
      border: 2px solid var(--eucaplyptus);
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__img {
    margin-top: 50px;
    width: 715px;
    height: 427px;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    &__title {
      max-width: 500px;
      font-size: 55px;
      line-height: 70px;
    }

    &__btn {
      padding: 11px 24px 12px 23px;
      font-size: 16px;
      letter-spacing: -0.16px;
    }

    &__img {
      width: 480px;
      height: 287px;
    }
  }
}

@media only screen and (max-width: 490px) {
  .intro {
    &__title {
      max-width: 360px;
      font-size: 36px;
      line-height: 50px;
    }

    &__img {
      width: 310px;
      height: 210px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .intro {
    &__title {
      max-width: 280px;
      font-size: 28px;
      line-height: 50px;
    }

    &__btn {
      padding: 6px 14px 6px 14px;
      font-size: 14px;
      letter-spacing: -0.16px;
    }

    &__img {
      width: 280px;
      height: 180px;
    }
  }
}
